body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
}

.border-div {
  width: 6px;
  height: 45px;
  border: rgb(255, 208, 0);
  border-radius: 5px;
  background-color: rgb(255, 208, 0);
  margin-right: 15px;
}

.filename-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* .main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  } */

.parent-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 1%;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: rgba(51, 51, 51, 0.7);
}

.Expand-Button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.1);
  color: #333333;
  font-size: 16px;
  font-weight: 550;
  width: 7rem;
  border: rgba(51, 51, 51, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50px;
}

.buttons-container button {
  margin-right: 10px;
}

.pagging-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-info {
  width: fit-content;
  flex-wrap: wrap;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.document-info {
  width: 44%;
}

/* .side-buttons{
    background-color: rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    border:rgba(51, 51, 51, 0.1) ;
    padding: 10px;
    margin-bottom: 8px;
    transition: 0.2s;
  } */

.imageCanvas {
  z-index: 0;
  max-width: 100%;
}
.side-buttons {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 6px;
  border: rgba(51, 51, 51, 0.1);
  padding: 8px;
  margin-bottom: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.side-buttons:hover {
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
}
/* .imageCanvas.draggable {
  cursor: grab; 
  cursor: -webkit-grab;
}
.imageCanvas.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
} */

.document-info h3 {
  margin-bottom: 10px;
  width: 100%;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
}

.details {
  height: calc(100% - 40px);
  border: 1px solid gray;
  height: 600px;
  border-radius: 1rem;
  overflow-y: auto;
  /* overflow-x: auto; */
}

.image-container {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.image-container.zoomed-in {
  overflow-x: hidden;
}

.image-container.zoomed-in::-webkit-scrollbar {
  display: none;
}

.page-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 4px; */
  background-color: rgba(51, 51, 51, 0.1);
  border: 0px solid rgba(51, 51, 51, 0.1);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.page-button:hover {
  background-color: rgba(51, 51, 51, 0.6);
}

.details::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
  display: none;
}

.details::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.details::-webkit-scrollbar-track {
  /* background-color: #c5c5c5; */
  background: white;
}

.details::-webkit-scrollbar-button {
  display: none;
}

.details::-webkit-scrollbar:horizontal {
  height: 5px;
  border: #c5c5c5;
  border-radius: 4px; 
}

.details::-webkit-scrollbar-thumb:horizontal {
  background-color: #000000; 
}

.details::-webkit-scrollbar-track:horizontal {
  background-color: #c5c5c5;
}

.form-container {
  width: 50%;
}

/* .form{ */
/* padding: 10px;  */
/* padding-right: 15px;  */
/* overflow-y: auto;  */
/* overflow-x: hidden; */
/* } */

.form-sections {
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(197, 197, 197);
  margin-bottom: 12px;
}

.form-container h3 {
  margin-bottom: 10px;
  /* padding: 10px; */
  font-size: 20px;
  font-weight: 500;
}

.form-container .form {
  width: 100%;
  /* padding: 10px; */
  padding-top: 10px;
  padding-left: 10px;
  height: calc(100% - 40px);
  border: 1px solid gray;
  height: 530px;
  border-radius: 1rem;
  margin-bottom: 18px;
  overflow-y: scroll;
}

.form-submit {
  width: 100%;
  padding-top: 4px;
  height: 40px;
  background-color: #333333;
  border: #333333;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.half-indiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 8px;
}

.form h2 {
  font-size: 16px;
  font-weight: 550;
}

.form label {
  display: block;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-lable-container {
  width: 48%;
  /* margin-right: 10px;  */
}

.full-input {
  width: 96.9%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
  color: #000000;
}

.full-input:focus,
.half-input:focus,
.double-input:focus {
  outline: none;
  border: 2px solid rgba(254, 190, 0, 1);
  padding: 9px;
}

.half-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 550;
  color: #000000;
}

.double-input {
  width: 96.9%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
  color: #000000;
}

.horizontal-table {
  display: flex;
  flex-direction: column;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 6px;
}

.table-head {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 170px;
}

.form::-webkit-scrollbar {
  width: 5px; 
  position: absolute; 
  top: 0;
  right: 2px; 
  bottom: 0;
  z-index: 1; 
}

.form::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 4px; 
}

.form::-webkit-scrollbar-track {
  background-color: #c5c5c5; 
  border-radius: 4px; 
}

.form::-webkit-scrollbar-button {
  display: none;
}

canvas {
  height: 100%;
  width: 100%;
}

.table-container {
  margin-bottom: 8px;
  display: flex;
}
.all-headers {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  gap: 8px;
}

.headers {
  width: 96%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  min-height: 40px;
  padding-left: 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 550;
  background-color: rgb(243, 243, 243);
  color: #5e5e5e;
}

.all-tableval {
  height: auto;
  width: 75%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  padding: 2px;
}

.all-tableval:hover {
  overflow-x: auto;
}

.all-tableval::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.all-tableval::-webkit-scrollbar-track {
  background: transparent;
}

.val-div {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.values {
  min-width: 180px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  min-height: 36px;
  padding-left: 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 550;
  color: #181717;
  border: 1px solid #a09f9f;
}

.values:focus {
  border: 2px solid rgba(254, 190, 0, 1);
  outline: none;
}

/* .highlight-canvas{
    color: rgb(127, 233, 141) !important;
    opacity: 100%;
} */

/* .highlight-canvas {

  transition: opacity 0.5s ease; 
  opacity: 0;
}  */
